<div class="row">
    	<div class="span4">
    		<h2>安吉亚里战役</h2>
    		<p>《安吉亚里战役》是由达芬奇在1505年绘制的一副画作，现已遗失。据信这幅画依然藏在佛罗伦萨旧宫五百人大厅的某幅壁画后面。其画面中心是在1440年的安吉亚里战役中四名骑着战马、互相厮杀的男性。
</p><p>
达芬奇为这幅画提前制好的一些草稿还保留着，而其画面的中心部分也可以从彼得·保罗·鲁本斯1603年的仿作中一窥究竟，后者现藏于巴黎卢浮宫。</p>
    	</div>
    	<div class="span4">
    		<h2>格尔尼卡</h2>
    		<p>格尔尼卡（Guernica）是巴勃罗·毕加索最著名的绘画作品之一。</p><p>当时西班牙内战中纳粹德国受弗朗西斯科·佛朗哥之邀对西班牙共和国所辖的格尔尼卡城进行了人类历史上第一次地毯式轰炸。当时毕加索受西班牙共和国政府委托为巴黎世界博览会的西班牙区绘一幅装饰性的画，从而催生了这幅伟大的立体派艺术作品。作品描绘了经受炸弹蹂躏之后的格尔尼卡城。所以它不是一副简简单单的画，它记录下了一段历史。</p>
    	</div>
    	<div class="span4">
    		<h2>自由引导人民</h2>
    		<p>《自由引导人民》（法语：La Liberté guidant le peuple）是法国浪漫主义画家欧仁·德拉克罗瓦（Eugène Delacroix）为纪念1830年法国七月革命的作品[2]。此画最早在1831年的巴黎沙龙展（Salon de Paris）上展出，而后被巴黎罗浮宫收藏至今。[3][2]
    		</p><p>

《自由引导人民》曾经出现在法国政府1980年推出的邮票上，也曾经被印入1983年版的100法郎钞票[4]。</p>
    	</div>
 </div>